* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

.projects-nav_container {
  height: 100vh;
  width: 100%;
  font-family: inherit;
  position: absolute;
  transition: all .5s ease-in;
}

.projects-nav_header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.projects-nav_header-tag {
  margin: 3rem;
  color: #332D33;
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  transition: all .5s ease-in;
}

.projects-nav {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-nav_tag {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 4rem;
  margin-bottom: .5rem;
  color: #292438;
  opacity: 0;
  transition: all .3s ease-in;
  font-weight: 600;
}

.projects-nav .lunaire {
  transform: translateY(-.5rem);
}

.visible {
  opacity: 1;
}

.translate_y {
  transform: translateY(-.5rem);
}

.splash-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-page_logo {
  background-image: linear-gradient(90deg, #fff 0%, #fff 2%, #292438 00%);
  background-size: 200%;
  width: 30rem;
  transition: all .5s;
}

.slider {
  background-size: 5000%;
}

.invisible {
  opacity: 0;
}

.display_none {
  display: none;
}


.header-img {
  width: 100%;
}


.lunaire-page {
  position: absolute;
  height: 100vh;
  width: 100%;
  font-family: inherit;
  word-wrap:break-word;
}

.lunaire-page_header {
  height: 100vh;
  width: 100%;
  transition: all .3s ease-in;
  background-image: url("../assets/0+\(0;00;00;00\)_4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    transform: translateY(-.75rem);
    color: #FFFFFF;
    transition: all .5s ease-in;
  }
}

.first-text-section {
  width: 85%;
  margin: 0 auto;
  transform: translateY(6rem);
  transition: all .5s;

  &_header-two {
    transform: translateY(2rem);
  }

  &-left-half {
    float: left;
  }

  &-right-half {
    width: 95%;
  }

  &-right-half-row {
    float: right;
    width: 70%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-header {
      display: inline-block;
    }

    .full-paragraph {
      display: inline-block;
      width: 70%;
      word-wrap:break-word;
    }
  }

  div {
    ul {
      list-style: none;

      li {
        font-size: .95rem;
      }
    }
  }
}


.sub-header {
  font-weight: 600;
  font-size: 1.4rem;
}

.slide-header-up {
  height: 55vh;
}

.slide-text-up {
  transform: translateY(5rem);
}

.img-first {
  display: block;
  margin: 0 auto;
  width: 70%;
  transform: translateY(8rem);
}

.nav-container {
  position: fixed;
  top: 3rem;
  right: 3rem;
}

// .corner-nav {
//   &,
//   &::after {
    
//     height: 2px;
//     width: 2rem;
//     background: black;
//     display: inline-block;
//   }

//   &::after {
//     content: "";
//     width: 1rem;
//     transform: translateX(1rem);
//   }
// }

.navigation-nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292438;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2000;
  transition: all .3s;

  p {
    color: #EFEFEF;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  ul {
    list-style: none;
    text-align: center;

    a {
      color: #EFEFEF;
      font-size: 4rem;
    }
  }
}

.navigation-button {
  background: black;
  height: 1rem;
  width: 1rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;

  &-appearance {

  }
}

.slide-nav-out {
  left: 0;
}